{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>Showing Person</h1>

    <div class="alert alert-success" role="alert">
      <p>{{success}}</p>
    </div>

    <div class="bs-example" data-example-id="striped-table">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Person Name</th>
            <th>Person Hobby</th>
          </tr>
        </thead>
        <tbody>
          {% for person in people %}
          <tr>
            <td>{{person.name}}</td>
            <td>{{person.hobby}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>

{% endblock %}
